Welcome Back To My Site

<form action="/session" method= "post">
  <label>Your Email
    <input type="text" name="user[email]">
  </label>

  <label>Your Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Join up!">

</form>
