Join My Site

<form action="/sessions" method = "post">
  <label>Your Email
    <input type="text" name="user[name]">
  </label>

  <label>Your Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Join up!">

</form>
