<html>
<head>
  <title>Integrated Active Record Lite and Rails Lite</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>
<body>
  <%#= render partial: "layouts/errors" %>
  <%# if @current_user %>
  <%# debugger %>
  <%#= "Logged in as #{User.where("session_token" => session[:token]).first.email}" if User.where("session_token" => session[:token]).first %>
  <%#= button_to "Logout", session_url, method: :delete %>
  <%# elsif !(params[:controller] == "sessions" && (params[:action] == "new" || params[:action] == "create")) %>
  <%#= link_to "Login", new_session_url %>
  <%# end %>
  <br>
  This is the Integrated Active Record Lite and Rails Lite App
  <br>

</body>
</html>
